.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
select {
  height: 2rem;
  width: 80%;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid $blue-color;
  border-radius: 2rem;
  font-size: 1.5rem;
  color: black;
}

.btn {
  height: 4rem;
  width: 14rem;
  font-size: 3rem;
  border: 1px solid $blue-color1;
  border-radius: 3rem;
}

.btn:hover {
  background-color: $blue-color;
  cursor: pointer;
}
.searchContainer {
  padding: 0 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.classSearch {
  width: 35rem;
  font-size: 2rem;
  color: black;
}
